<hr>
<div class="footer-container">
<div class="container">
    About us / Contact Us / Terms of Service / Privacy & Policy <span style="float:right;">Copyright PANDIT	&reg;</span>
</div>
</div>
</body>
</html>