<!DOCTYPE html>
<html>
    <header>
        <title><%= header %> - Outside classroom learning</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> 
        <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/8980599/Pandit_hosting/icon.ico" />
       
    </header>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <!--Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="PANDIT Logo" src="https://dl.dropboxusercontent.com/u/8980599/Pandit_hosting/nav.jpg">PANDIT</a>
    </div>

     <!--Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subjects/Place eg. Biology Siam" name='search'>
        </div>
        <button type="submit" class="btn btn-default">Find!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:0816852495">CREATE COURSE</a></li>
        <li><a href="tel:0816852495">CALL US</a></li>
        <li><a href="tel:0816852495">REGISTER</a></li>
        <li><a data-toggle="modal" data-target="#loginModal" style='cursor:pointer;'>LOGIN</a></li>
        <li><a href="tel:0816852495"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="badge">42</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">_username <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">PROFILE</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
         <div class='row'>
           <div class='col-md-6'>
             <form method='post' action='/login'>
               <div class='form-group'>
                 <input type='text' name='email' placeholder='Your Email' class='form-control'>
               </div>
               <div class='form-group'>
                 <input type='password' name='password' placeholder='Your Password' class='form-control'>
               </div>
               <div class='form-group'>
                 <button type='submit' class='form-control'>Login</button>
               </div>
             </form>
           </div>
           <div class='col-md-6'>
             <a href='/auth/facebook' class='btn btn-facebook'>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <span>Login with Facebook</span>
             </a>
           </div>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class='container'>
  <% if(error && error.length>0){ %>
    <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <% if(success && success.length>0){ %>
    <div class="alert alert-success"><%= success %></div>
  <% } %>
</div>