<% include partials/header %>
<div class='overfbox'>
<div id='chatmessage' class='overf'>
    
</div>

<form action='javascript:send()'>
            <div class='form-group'>
                <input type='text' class='form-control' autofocus placeholder='Type Message Here or press SHIFT to speak' id='message'>
            </div>
            <div class='form-group'>
                <button type='submit' class='btn btn-default'>Send</button>
                <a href='javascript:shareLocation()' class='btn btn-default'>Share Location</a>
            </div>
        </form> 
</div>  
        
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src='/socket.io/socket.io.js'></script>
<script>

    var socket = io.connect('/');
    var user='John';

    socket.on('message',(data)=>{
        console.log(data);

        $('#chatmessage').append(data.message);
        
        if(data.user!=user){
        socket.emit('read',data)
        }
    })

    function send(){
        socket.send({roomId:'57cbaf285a09929b145abf40','user':'John','message':'Dude<br>'});
    }


</script>