<% include partials/header %>

<div class="landing-bg">
    <div class="container landing-content">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="https://dl.dropboxusercontent.com/u/8980599/Pandit_hosting/icon.jpg" class="img-responsive center-block">
                <h1 class="landing-h1">PANDIT</h1>
                <h3>Outside classroom learning</h3>
                <hr>
                <a href="/student" class="btn btn-default btn-lg btn-success">Find quality tutors</a> <a href="/tutor" class="btn btn-default btn-lg btn-primary">Become a tutor</a>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>