body{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    padding-top: 70px;
}

.footer-container{
    background-color:#d1e0e0;
    padding-top: 15px;
    padding-bottom:15px;
    font-weight: lighter
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar{
   background-color: #ffab1a;
   
}

.navbar-brand{
    padding: 5px 15px;
    
}

.navbar-default .navbar-brand{
    color:white;
}

.navbar-brand>img{
    display: inline;
    padding-right: 5px;
}

.navbar-default .navbar-nav>li>a{
    color:white;
}

.col-md-4{
    padding-bottom: 15px;
}

.landing-bg{
    background-color: #ffab1a;
    height: 100%;
    width:100%;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
}

.landing-h1{
    size:8em;
    text-shadow: 1px 1px 0px #000000;
}

.landing-content{
    margin-top: 8%;
}

.main-bg{
    background: url("https://dl.dropboxusercontent.com/u/8980599/Pandit_hosting/main_bg.png") center bottom no-repeat;
    background-size:cover;
    min-height: 700px;
    width: 100%;
}

.main-howto{
    width:80%;
}

.main-subject{
    display:flex; 
    flex-wrap:wrap;
}

.subject-main:hover > div{
    transition: .3s;
    -webkit-filter: blur(2px);
}

.subject-main:hover > div:hover{
    transform: scale(1.2);
    transition: .3s;
    -webkit-filter: blur(0px);
}

.badge{
    background-color:red;
}

.glyphicon-star, .glyphicon-star-empty{
    color:orange;
}

.btn-facebook{
background:#3A5C99;
border-color:#3A5C99;
color:#FFFFFF;
min-width:250px;
}

.table>tbody>tr>td{
    border-top:0px;
    vertical-align:middle;
}


.overf{
    overflow: auto;
    height:700px;
}

.rating{
    display: flex;   
    flex-flow:row-reverse nowrap;
    text-align: center;
    justify-content: center;
}

.rating-input {
    display:none;
    float: right;
}

.rating-star:before{
    color:orange;
    content: "\e007";

    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:25px;
     
}


.rating-star:hover:before,
.rating-star:hover ~ .rating-star:before,
.rating-input:checked ~ .rating-star:before {
    content: "\e006";
 }


.glyphicon-star-empty{
    font-size:20px;
}

.glyphicon-star{
    font-size:20px;
}

.browse-star{
    font-size: 15px;
}